In [10]:
from collections import namedtuple

N = int(input())
cols_names = input()

marks = namedtuple('student', cols_names)
Sum   = 0
for n in range(N):   
    mark = input().split()
    record = marks(*mark)
    Sum += int(record.MARKS)

print(Sum/N)

5
ID         MARKS      NAME       CLASS
1          97         Raymond    7
2          50         Steven     4
3          91         Adrian     9
4          72         Stewart    5
5          80         Peter      6
78.0